Flask-CORS
Flask
numpy<2
opencv-python
tensorflow==2.8.0
keras==2.8.0
gunicorn
protobuf==3.20.0
Pillow
boto3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-api-python-client==2.45.0
mediapipe
